.card {
    margin-bottom: 30px;
    flex: 1 0 20rem;
    background-color: #b3b2b2!important;
    text-align: center;
    padding: 10px;
}

.btnView {
    float: right;
    padding: 6px;
    border-radius: 3px;
}